body {
   background-color: #181818;
}

::selection {
	color: #DDDDDD;
	background: #484848;
}

h1, h2, h3, h4, h5, h6, p, a, tr, td {
	color: #FFFFFF;
	font-family: Consolas, Monaco, monospace;
}

h1 {
	font-size: 45px;
}

h2 {
	font-size: 30px;
}

p {
	font-size: 23px;
}

a {
	text-decoration: none;
}

#headertoprow {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#headerbottomrow {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title {
	margin: 0px;
}

.subtitle {
	margin-top: 0px;
}

#nav {
	display: flex;
	gap: 10px;
}

.navbutton {
	font-size: 25px;
	padding: 5px 10px;
	background-color: #383838;
	color: white;
	border-radius: 4px;
	transition: 500ms ease;
}

.navbutton:hover {
	transform: scale(1.1);
}

.codestyle {
	font-family: Consolas, "courier new";
	color: white;
	background-color: #383838;
	padding: 2px;
	font-size: 105%;
	resize: none;
	border-radius: 4px;
}

@media (max-width: 576px) {
	h1 {
		font-size: 35px;
	}

	h2 {
		font-size: 22px;
	}

	p {
		font-size: 12px;
	}
}

@media (max-width: 500px) {
	h1 {
		font-size: 25px;
	}

	h2 {
		font-size: 12px;
	}

	p {
		font-size: 6px;
	}
}